.pageHeader {
  border-bottom: solid 1px var(--clr-bg-silver);
  padding: 2rem;
}

.pageHeaderNav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navBtnContainer {
  display: flex;
  gap: 0.75rem;

  margin-left: auto;
}
