.btn {
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  height: 3.125rem;
  width: 9.375rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
