.page-header {
  border-bottom: solid 1px var(--clr-bg-silver);
  padding: 2rem;
}

.page-header__nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.brand-name {
  font-size: 2.25rem;
}

.nav__btn-container {
  display: flex;
  gap: 0.75rem;

  margin-left: auto;
}

.btn {
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  height: 3.125rem;
  width: 9.375rem;
}

.btn--download {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);

  & img {
    transition: transform 300ms ease-out;
  }

  &:hover img {
    transform: translateY(0.25rem);
  }
}

.btn--share {
  background-color: var(--clr-primary);
  color: var(--clr-bg-white);
  transition: background-color 300ms ease-out;

  &:hover {
    background-color: var(--clr-text);
  }
}

.btn__content-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.nav__profile-picture {
  background-color: var(--clr-bg-silver);
  border-radius: 50%;
  height: 3.125em;
  transition: transform 300ms ease-out;
  width: 3.125em;

  &:hover {
    cursor: pointer;
    transform: scale(1.075);
  }
}
