.cv__personal-info {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 0.5rem;
}

.cv__personal-info__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cv__full-name {
  font-size: 2.25rem;
}

.cv__current-position {
  font-weight: 500;
}

.cv__contacts {
  display: flex;
  gap: 1rem;
}

.cv__contacts__info {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 0.75rem;
}

.cv__personal-info__picture {
  background-color: var(--clr-bg-silver);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
