.textarea-charlimit-container {
  position: relative;
}

.character-limit {
  background-color: var(--clr-bg-silver);
  border-radius: 20px;
  color: hsl(0, 0%, 20%, 0.5);
  font-size: 0.8rem;
  padding: 0 0.5rem;

  position: absolute;
  right: 0;
  top: -1.5rem;
}
