.telInput {
  composes: textField from 'src/components/forms/TextField/TextField.module.css';

  &:not(:focus, :placeholder-shown) + .invalid {
    position: relative;

    &::after {
      color: var(--clr-warning);
      content: '⚠️ Not a valid number (format: +12345678910)';
      font-size: 0.85rem;

      position: absolute;
      bottom: -1.25rem;
      left: 0;
    }
  }
}
